In [2]:
import os
from bs4 import BeautifulSoup
import re
import pandas as pd

In [3]:
data_path = "./Youssoufia"
data_dir_list = os.listdir(data_path)

names=[]
for dataset in data_dir_list:
    names.append(dataset)
print(names)

['Data_1.html', 'Data_2.html', 'Data_3.html', 'Data_4.html', 'Data_5.html']

In [4]:

Soup=[]
for file in data_dir_list:
    Soup.append(BeautifulSoup(open(data_path+'/'+ file, encoding="utf8"), "html.parser")) 

#print(soup.find_all("div", class_="someclass"))

In [5]:
User_data=[]
for k in Soup:
    User_data.append(k.find_all(class_="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 nc684nl6 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl oo9gr5id gpro0wi8 lrazzd5p dkezsu63",href=True))

In [6]:
Members=[]
links=[]
for H in User_data:
    for j in H:
        Members.append(j.get_text())
        links.append(j['href'])

In [7]:
uid1=[]
uid2=[]
user_ids=[]
for c in links:
    if c.split("com/")[1][0:7]=='profile':
        y=c.split("php?id=")
        uid1.append(y[1])
    else:
        uid2.append(c.split("com/")[1])

user_ids=uid1+uid2

In [8]:
df = pd.DataFrame(list(zip(Members, user_ids,links)),columns =['User_name', 'User_id','Links'])

df.to_csv(r'Youssoufia_Datas3.csv',index=False,encoding='utf-8-sig')

In [9]:
df

,User_name,User_id,Links
0,Ahmed Ahmed,100067830085940,https://www.facebook.com/fourar.ahmed
1,Ahmed Ahmed,100006189945815,https://www.facebook.com/ahmed.zamama
2,Ahmed Ahmed,100009494831059,https://www.facebook.com/ahmed.crezy1
3,Ahmed Ahmed (Starnetorg),100065374677240,https://www.facebook.com/ahmed.hmidat.35
4,Jr Ahmed,100067097263517,https://www.facebook.com/jr.ahmed.3388
...,...,...,...
2362,Yassine Ezzari,khalid.rofix.52,https://www.facebook.com/profile.php?id=100011...
2363,Yassine Tebbaa,yassin.lofi.3,https://www.facebook.com/profile.php?id=100009...
2364,WF ÝâSsîñë,issam.mouktahime.7,https://www.facebook.com/profile.php?id=100009...
2365,YaSsine Dallas,yatussiportne.elu6775,https://www.facebook.com/profile.php?id=100030...
2366,Yassine NG,zaz.yassin2,https://www.facebook.com/profile.php?id=100005...